.login{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;

    .loginCard{
        display: flex;
        background-color:white;
        width:25%;
        border-radius:10px;
        min-height:450px;
        overflow:hidden;
        flex-direction:row-reverse;

        
        }
        .loginContent{
            flex:1;
            padding:50px 30px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content:center;

            h1{
                color:#333333;
            }
            form{
                display: flex;
                flex-direction:column;
                gap:30px;

                input{
                    border:none;
                    border-bottom:1px solid lightgray;
                    padding:20px 10px;
                }
                button{
                    width: 50%;
                    padding:10px;
                    border:none;
                    background-color:#938eef;
                    color:white;
                    font-weight:bold;
                    cursor:pointer;
                }
               
                  
             
            }

        }
    }
