.register{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;

    .registerCard{
        display: flex;
        background-color:white;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        width:35%;
        border-radius:10px;
        min-height:500px;
        overflow:hidden;
        flex-direction:row-reverse;

        @media (max-width: 1200px) {
          width: 35%;
        }
        @media (max-width: 992px) {
          width: 50%;
        }
        @media (max-width: 768px) {
          width: 70%;
        }
        @media (max-width: 576px) {
          width: 90%;
        }
    }

    .registerContent{
        flex:1;
        padding:50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content:center;

        .validPassword {
            color: green;
            font-size: 16px;
          }
          
          .invalidPassword {
            color: red;
            font-size: 16px;
          }

        h1{
            color:#555;

        }
        form{
            display: flex;
            flex-direction:column;
            gap:30px;

            input{
                border:none;
                border-bottom:1px solid lightgray;
                padding:20px 10px;
            }
            button{
                width: 50%;
                padding:10px;
                border:none;
                border-radius:20px;
                background-color:#E67E22;
                color:white;
                font-weight:bold;
                cursor:pointer;
            }
            .form-control {
                border: 1px solid lightgray;
                padding: 10px;
                margin-top: 10px;
            }
        }

    }
}
